:root {
    --text-color: black;
    --text-font: 20px;
    --em-mgr: 20px;
}

li {
    color: var(--text-color);
    font-size: var(--text-font);
}
em {
    margin-right: var(--em-mgr);
}

hr {
    font-weight: 700;
    border: 10px solid black;
}
